input {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgba(0,0,0,0.3);
  margin: 0 0 10px 0;
}

input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: rgba(0,0,0,0.3);
}

input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: rgba(0,0,0,0.3);
}

input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: rgba(0,0,0,0.3);
}

h1 {
  font-weight: 100;
  font-size: 100px;
  padding:0;
  margin: 0;
}

.todo {
  font-size: 20px;
}

.completed {
  text-decoration: line-through;
}

.check {
  margin-left: 10px;
}

.clear {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  color: #4d4d4d;
}

.clear:hover {
  color: #7b7b7b;
}

